[submodule "builds/suckless/dwm"]
	path = builds/suckless/dwm
	url = git@github.com:littlemissantivirus/dwm
[submodule "builds/suckless/dmenu"]
	path = builds/suckless/dmenu
	url = git@github.com:littlemissantivirus/dmenu
[submodule "builds/suckless/st"]
	path = builds/suckless/st
	url = git@github.com:littlemissantivirus/st
